# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ROS
build/
devel/
src/cfg/cpp/
src/scitos_driver/cfg/cpp/
src/PackageList.txt
src/scitos_driver/src/scitos_driver
src/scitos_driver/docs/
*\#*