# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ROS
src/cfg/cpp/
scitos_mira/cfg/cpp/
src/PackageList.txt
scitos_mira/src/scitos_mira
scitos_mira/docs/
*\#*