<?xml version="1.0" ?>
<launch>
	<!-- scitos_modules argument; must be a space seperated list of hardware modules to load -->
	<arg name="SCITOS_MODULES" default="Drive Charger"/>
	<arg name="SCITOS_CONFIG" default="$(find scitos_mira)/resources/SCITOSDriver.xml"/>
	<!-- BARRIER_ENABLED should be set to true to enable the magnetic strip detector to cut out
	the motors. If set to false, then magnetic safety barriers will have no effect. -->
	<arg name="BARRIER_ENABLED" default="true"/>

	<!-- Remote Launching -->
    <arg name="machine" default="localhost"/>
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true" />

	<node pkg="scitos_mira" type="scitos_node" name="scitos_node" output="screen" respawn="true">
		<param name="config_file" value="$(arg SCITOS_CONFIG)" type="string"/>
		<param name="scitos_modules" value="$(arg SCITOS_MODULES)" />
		<param name="magnetic_barrier_enabled" value="$(arg BARRIER_ENABLED)" />
	</node>

</launch>
