<launch>
	<arg name="camera" default="head_xtion" />
	
        <!-- SCITOS G5 Robot -->
	<include file="$(find scitos_mira)/launch/scitos_mira.launch"/>

	<!-- SICK S300 -->
	<include file="$(find scitos_bringup)/launch/s300.launch"/>

	<!-- FLIR PTU-D46 -->
	<include file="$(find flir_pantilt_d46)/launch/ptu46.launch"/>

	<!-- Asus Xtion -->
	<include file="$(find openni_wrapper)/launch/main.launch">
	  <arg name="camera" value="$(arg camera)" />
	</include>
	
	<!--- Robot state publisher -->
	<include file="$(find scitos_description)/launch/scitos_state_publisher.launch"/>

	<!-- PC Monitor -->
	<node name="pc_monitor" pkg="scitos_pc_monitor" type="pc_monitor" respawn="true"/>

	<!-- Diagnostics aggregator -->
	<include file="$(find scitos_bringup)/launch/diagnostic_agg.launch"/>

</launch>
