<launch>
	<arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <arg name="scitos_config" default="$(find scitos_mira)/resources/SCITOSDriver-with-udev.xml"/>

    <arg name="laser" default="/dev/laser" />

    <arg name="head_camera" default="true" />
    <arg name="head_ip" default="left-cortex" />
	<arg name="head_user" default="strands" />

    <arg name="chest_camera" default="true" />
    <arg name="chest_ip" default="right-cortex" />
	<arg name="chest_user" default="strands" />

    <arg name="with_mux" default="false"/>
	<arg name="js" default="$(optenv JOYSTICK_DEVICE /dev/js1)" />


    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>


    <!-- Robot -->
	<include file="$(find scitos_bringup)/launch/strands_robot.launch">
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>

		<!-- SCITOS G5 Robot -->
		<arg name="scitos_config" value="$(arg scitos_config)"/>

		<!-- SICK S300 -->
	    <arg name="laser"  value="$(arg laser)"/>

		<!-- Head Xtion Camera -->
		<arg name="head_camera"	value="$(arg head_camera)" />
		<arg name="head_ip"		value="$(arg head_ip)" />
		<arg name="head_user"	value="$(arg head_user)" />

		<!-- Chest Xtion Camera -->
		<arg name="chest_camera" value="$(arg chest_camera)" />
		<arg name="chest_ip"	 value="$(arg chest_ip)" />
		<arg name="chest_user"	 value="$(arg chest_user)" />

		<!-- cmd vel mux -->
	    <arg name="with_mux" value="$(arg with_mux)"/>

		<!--- Teleop Joystick -->
        <arg name="js" value="$(arg js)" />
	</include>


</launch>
