<launch>
	<!-- SCITOS G5 Robot -->
        <include file="$(find scitos_mira)/launch/scitos_mira.launch"/>

	<!-- SICK S300 -->
        <include file="$(find sicks300)/launch/s300.launch"/>

	<!-- FLIR PTU-D46 -->
        <include file="$(find flir_pantilt_d46)/launch/ptu46.launch"/>

	<!-- Asus Xtion -->
        <include file="$(find openni_launch)/launch/openni.launch">
	  <arg name="camera" value="head_xtion" />
	</include>

	<!--- Robot state publisher -->
        <include file="$(find scitos_description)/launch/scitos_state_publisher.launch"/>
	

</launch>
