<launch>
	<arg name="with_chest_camera" value="true" />
	<arg name="inverted" value="no" />
	
	<!-- SCITOS G5 Robot -->
	<include file="$(find scitos_mira)/launch/scitos_mira.launch"/>

	<!-- SICK S300 -->
	<include file="$(find sicks300)/launch/s300.launch"/>

	<!-- FLIR PTU-D46 -->
	<include file="$(find flir_pantilt_d46)/launch/ptu46.launch"/>

	<!-- Asus Xtion -->
	<!--
	<include file="$(find openni_launch)/launch/openni.launch">
	  <arg name="camera" value="head_xtion" />
	  <arg name="publish_tf" value="false" />
	</include>
	-->

	<include file="$(find openni_wrapper)/launch/main.launch">
	  <arg name="camera" value="head_xtion" />
	  <arg name="publish_tf" value="false" />
	  <arg name="camera2" value="chest_xtion" />
	  <arg name="with_chest_camera" value="$(arg with_chest_camera)" />
	  <arg name="inverted" value="$(arg inverted)" />
	</include>

	<!--- Robot state publisher -->
	<include file="$(find scitos_description)/launch/scitos_state_publisher.launch"/>

	<!-- PC Monitor -->
	<node name="pc_monitor" pkg="scitos_pc_monitor" type="pc_monitor.py" />

	<!-- Diagnostics aggregator -->
	<include file="$(find scitos_bringup)/launch/diagnostic_agg.launch"/>

</launch>
