<launch>
	<!-- Remote Launching -->
    <arg name="remote" default="false"/>
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <!-- Datacentre -->
    <arg name="db_path" default="/opt/strands/mongodb_store"/>
    <arg name="port" default="62345" />

    <arg name="defaults_path" default=""/>


    <!-- now has an IF checking for the arg "remote" -->
    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(env ROS_ENV_LOADER)" user="$(arg user)" default="true"/>


    <include file="$(find mongodb_store)/launch/mongodb_store.launch" >
        <arg name="machine"  value="$(arg machine)"/>
        <arg name="user"  value="$(arg user)"/>
        <arg name="db_path" default="$(arg db_path)"/>
        <arg name="port" default="$(arg port)" />
        <arg name="defaults_path" default="$(arg defaults_path)"/>
    </include>

</launch>
