<launch>
	<arg name="machine" default="$(optenv HOSTNAME localhost)" />
	<arg name="user" default="" />

	<arg name="head_camera" default="false" />
	<arg name="head_ip" default="localhost" />
	<arg name="head_user" default="strands" />

	<arg name="chest_camera" default="false" />
	<arg name="chest_ip" default="localhost" />
	<arg name="chest_user" default="strands" />

	<arg name="with_mux" default="false" />
	<arg name="js" default="$(optenv JOYSTICK_DEVICE /dev/js1)" />
	<arg name="laser" default="/dev/ttyUSB0" />
	<arg name="scitos_config" default="$(find scitos_mira)/resources/SCITOSDriver.xml"/>


    <!-- NOW when launching in a remote mode it will need the ROS_ENV_LOADER set if not it will leave it empty -->
    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true" />


	<!-- SCITOS G5 Robot -->
	<include file="$(find scitos_mira)/launch/scitos_mira.launch">
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
		<arg name="SCITOS_CONFIG" value="$(arg scitos_config)"/>
	</include>

	<!-- SICK S300 -->
	<include file="$(find scitos_bringup)/launch/s300.launch">
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
	    <arg name="laser"  value="$(arg laser)"/>
	</include>
	

	<!-- FLIR PTU-D46 -->
	<include file="$(find flir_pantilt_d46)/launch/ptu46.launch">
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
	</include>


	<!-- PC Monitor -->
	<!-- Not released -->
	<!-- node name="pc_monitor" pkg="scitos_pc_monitor" type="pc_monitor.py" / -->

	<!-- Diagnostics aggregator -->
	<include file="$(find scitos_bringup)/launch/diagnostic_agg.launch" >
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
	</include>


	<!-- Head Xtion Camera -->
	<include if="$(arg head_camera)" file="$(find openni_wrapper)/launch/main.launch">
	    <arg name="camera" value="head_xtion" />
    	<arg name="machine" value="$(arg head_ip)"/>
		<arg name="user" value="$(arg head_user)" />
	</include>


	<!-- Chest Xtion Camera -->
	<include if="$(arg chest_camera)" file="$(find openni_wrapper)/launch/main.launch">
	    <arg name="camera" value="chest_xtion" />
    	<arg name="machine" value="$(arg chest_ip)"/>
		<arg name="user" value="$(arg chest_user)" />
	</include> 


	<!--- Robot state publisher -->
	<include file="$(find scitos_description)/launch/scitos_state_publisher.launch">
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
	</include>


	<!--- cmd vel mux -->
    <include if="$(arg with_mux)" file="$(find scitos_cmd_vel_mux)/launch/mux.launch">
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
	</include>


	<!--- Teleop Joystick -->
     <include unless="$(arg with_mux)" file="$(find scitos_teleop)/launch/teleop_joystick.launch">
        <arg name="js" value="$(arg js)" />
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
    </include>
    <include if="$(arg with_mux)" file="$(find scitos_teleop)/launch/teleop_joystick_mux.launch">
        <arg name="js" value="$(arg js)" />
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
	</include>

</launch>
