<launch>
        <node pkg="scitos_driver" type="scitos_node" name="scitos_node" output="screen">
		<param name="config_file" value="$(find scitos_driver)/resources/SCITOSDriver.xml" type="string"/>
	</node>
        <node pkg="sicks300" type="sick300_driver" name="sick300" output="screen">
		<param name="devicename" value="/dev/ttyUSB0" type="string"/>
		<param name="reduced_fov" value="1.0" type="double"/>
	</node>
</launch>
